$primary: #438AF6;
$success: #7AD762;


body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #3E4857;
}

.card-general {
    background: #0000;
    border: 2px solid #A2DDFD;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #A2DDFD;
    border-radius: 12px;
}

.header-date {
    font-size: 36px;
    font-weight: 500;
}

.header-hour {
    font-size: 28px;
    font-weight: 500;
}


.img-phone {
    position: relative;
}

.twitter {
    height: 48px;
    width: 48px;
    background-color: #00ACEE;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 16px;
}

.instagram {
    height: 48px;
    width: 48px;
    background: linear-gradient(66.56deg, #515BD4 24.74%, #8134AF 39.35%, #DD2A7B 79.42%, #FDD577 103.79%, #F58529 112.43%);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 16px;
}

.facebook {
    height: 48px;
    width: 48px;
    background-color: #3B5998;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    right: 16px;
}


.lottery {
    background-color: #F3F9FE;
    font-size: 14px;
}


.badge-success {
    color: $success;
    background-color: #ECF8DE;
    border: 2px solid $success;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;

  }


.footer {
    font-weight: 700;
    font-size: 36px;
}